nav {
    background-color: rgb(57, 57, 57);
}

.dropdown-menu {
    background-color: #451f68
}

.form-control {
    background-color: rgb(40, 40, 40);
    border: none;
}

.drop-content {
    color: black;
}